In [1]:
%pip install pandas
import pandas as pd

Defaulting to user installation because normal site-packages is not writeable
Collecting pandas
  Downloading pandas-2.2.2-cp39-cp39-macosx_11_0_arm64.whl (11.3 MB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 11.3/11.3 MB 11.2 MB/s eta 0:00:0000:0100:01
Collecting numpy>=1.22.4
  Downloading numpy-2.0.2-cp39-cp39-macosx_14_0_arm64.whl (5.3 MB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 5.3/5.3 MB 7.4 MB/s eta 0:00:0000:0100:01m
Requirement already satisfied: python-dateutil>=2.8.2 in /Users/bijubiju/Library/Python/3.9/lib/python/site-packages (from pandas) (2.9.0.post0)
Collecting pytz>=2020.1
  Using cached pytz-2024.1-py2.py3-none-any.whl (505 kB)
Collecting tzdata>=2022.7
  Using cached tzdata-2024.1-py2.py3-none-any.whl (345 kB)
Requirement already satisfied: six>=1.5 in /Library/Developer/CommandLineTools/Library/Frameworks/Python3.framework/Versions/3.9/lib/python3.9/site-packages (from python-dateutil>=2.8.2->pandas) (1.15.0)
Installing collected packages: pytz, tzdata, numpy, pandas
Successfully installed numpy-2.0.2 pandas-2.2.2 pytz-2024.1 tzdata-2024.1

[notice] A new release of pip available: 22.3.1 -> 24.2
[notice] To update, run: /Library/Developer/CommandLineTools/usr/bin/python3 -m pip install --upgrade pip
Note: you may need to restart the kernel to use updated packages.

In [2]:
df = pd.read_csv('../data/data.csv')
df.head()

,timestamp,payee,description,raw_description,amount,balance,trancode,receipt_number
0,1725631200,CLAYTON AQUATIC & HEA CLAYTON VICAU,NaN,CLAYTON AQUATIC & HEA CLAYTON VICAU,-32.3,3.23,202409062347179589581,H131693512290
1,1725631200,Lebara Recharge North Sydney AU AUS Card xx718...,NaN,Lebara Recharge North Sydney AU AUS Card xx718...,-24.9,35.53,202409062037085160851,H237907267178
2,1725544800,COLES 0536 CLAYTON AU,NaN,COLES 0536 CLAYTON AU,-21.0,60.43,202409060039409900491,H131688743604
3,1725544800,Transfer from xx0274 CommBank app,NaN,Transfer from xx0274 CommBank app,50.0,81.43,202409060039241882911,N290643898834
4,1725458400,Transfer to xx4211 CommBank app,NaN,Transfer to xx4211 CommBank app,-120.0,31.43,202409051244176647851,N290541692051

In [3]:
df_categories = df['payee']

In [ ]:
# types of transactions 
# bank,groceries,rent,other,transportation,eating-out,dating,telecom,bill

In [6]:
df.drop([type],axis=1,inplace=True,)

df[category]='other'

In [8]:
import re
patterns = {
    'Bank': r'.*Transfer.*',
    'groceries': r'.*COLES.*',
    'Rent': r'.*Rent.*',
    'Transportation': r'.*MYKI.*',
    'Transportation':r'.*UBER.*',
    
}

# Apply the regex patterns to the raw_description column
for category, pattern in patterns.items():
        df[category] = df['raw_description'].apply(lambda x: re.search(pattern, x).group(1) if re.search(pattern, x) else 'other')
df.head()

IndexError: no such group

In [4]:
df_categories.__len__

<bound method Series.__len__ of 0                   CLAYTON AQUATIC & HEA CLAYTON VICAU
1     Lebara Recharge North Sydney AU AUS Card xx718...
2                                 COLES 0536 CLAYTON AU
3                     Transfer from xx0274 CommBank app
4                       Transfer to xx4211 CommBank app
5              Transfer from xx0274 CommBank app Invest
6     Transfer To MS ALANA RAE CARTER PayID Phone fr...
7                     Transfer from xx0274 CommBank app
8                     MYKI CLAYTON RS CLA CLAYTON VICAU
9                     Transfer from xx0274 CommBank app
10                    Transfer from xx4211 CommBank app
11                      Transfer to xx4211 CommBank app
12                       ABCD DREAMZ PTY LTD CLAYTON AU
13                                COLES 0536 CLAYTON AU
14                                           UBER* TRIP
15    Return AMZNPRIMEAU MEMBERSHIP SYDNEY SOUTH NS ...
16    RMIT UNIVERSITY MELBOURNE AUS Card xx7189 Valu...
17                 STRIKE AUSTRALIA PTY GLEN WAVERLE AU
18                                COLES 0536 CLAYTON AU
19                                COLES 0581 CLAYTON AU
20               COSTCO WHOLESALE AUSTR MOORABBIN AIRAU
21                    Transfer from xx0274 CommBank app
22                    Transfer from xx0274 CommBank app
23                                Debit Excess Interest
24    AMZNPRIMEAU MEMBERSHIP SYDNEY SOUTH NS AUS Car...
25    Overdraw Fee For exceeding available funds on ...
26                    Transfer from xx0274 CommBank app
27                                COLES 0581 CLAYTON AU
28               MYKI SPRINGVLE RS SPG SPRINGVALE VICAU
29                                COLES 0536 CLAYTON AU
30                                COLES 0536 CLAYTON AU
31                         The Clayton Hotel Clayton AU
32                    Transfer from xx0274 CommBank app
33    MORE TELECOM STH MELBOURNE AU AUS Card xx7189 ...
34    UBER *ONE Sydney AU AUS Card xx7189 Value Date...
35                                COLES 0581 CLAYTON AU
36                 Transfer To Derick CommBank App Rent
37                    Transfer from xx0274 CommBank app
38                                           UBER* TRIP
39                       SQ *KONG THE BARBER Clayton AU
Name: payee, dtype: object>