In [56]:
import pandas as pd
import sqlite3

In [57]:
conn = sqlite3.connect('../data/database/commbank') # permanent database

In [54]:
pd.read_sql_query("select name from sqlite_master where type = 'table'", conn)

           name
0    cust_trans
1  transactions

In [58]:
pd.read_sql_query("select * from transactions", conn)

,transaction_id,timestamp,payee,description,raw_description,amount,balance,receipt_number,category
0,202409062347179589581,1725631200,CLAYTON AQUATIC & HEA CLAYTON VICAU,,CLAYTON AQUATIC & HEA CLAYTON VICAU,-32.30,3.23,H131693512290,GYM
1,202409062037085160851,1725631200,Lebara Recharge North Sydney AU AUS Card xx718...,,Lebara Recharge North Sydney AU AUS Card xx718...,-24.90,35.53,H237907267178,LEBARA
2,202409060039409900491,1725544800,COLES 0536 CLAYTON AU,,COLES 0536 CLAYTON AU,-21.00,60.43,H131688743604,COLES
3,202409060039241882911,1725544800,Transfer from xx0274 CommBank app,,Transfer from xx0274 CommBank app,50.00,81.43,N290643898834,D
4,202409051244176647851,1725458400,Transfer to xx4211 CommBank app,,Transfer to xx4211 CommBank app,-120.00,31.43,N290541692051,INVEST
5,202409051244015911661,1725458400,Transfer from xx0274 CommBank app Invest,,Transfer from xx0274 CommBank app Invest,120.00,151.43,N290541681266,D
6,202409051212402546981,1725458400,Transfer To MS ALANA RAE CARTER PayID Phone fr...,,Transfer To MS ALANA RAE CARTER PayID Phone fr...,-245.00,31.43,N290541635407,other
7,202409051211543246041,1725458400,Transfer from xx0274 CommBank app,,Transfer from xx0274 CommBank app,250.00,276.43,N290541636321,D
8,202409050545554338441,1725458400,MYKI CLAYTON RS CLA CLAYTON VICAU,,MYKI CLAYTON RS CLA CLAYTON VICAU,-50.00,26.43,H131685906542,MYKI
9,202409050545475172281,1725458400,Transfer from xx0274 CommBank app,,Transfer from xx0274 CommBank app,50.00,76.43,N290549514401,D
10,202409050507130194521,1725458400,Transfer from xx4211 CommBank app,,Transfer from xx4211 CommBank app,10.00,26.43,N290548903837,other
11,202409050506533578071,1725458400,Transfer to xx4211 CommBank app,,Transfer to xx4211 CommBank app,-10.00,16.43,N290548912108,INVEST
12,202409041041304253581,1725372000,ABCD DREAMZ PTY LTD CLAYTON AU,,ABCD DREAMZ PTY LTD CLAYTON AU,-10.89,26.43,H131682735739,other
13,202409041032207488051,1725372000,COLES 0536 CLAYTON AU,,COLES 0536 CLAYTON AU,-9.40,37.32,H131682712989,COLES
14,202409031156498839181,1725285600,UBER* TRIP,,UBER* TRIP,-12.69,46.72,H131678538757,UBER
15,202409022000513662851,1725285600,Return AMZNPRIMEAU MEMBERSHIP SYDNEY SOUTH NS ...,,Return AMZNPRIMEAU MEMBERSHIP SYDNEY SOUTH NS ...,9.99,59.41,H237859899123,other
16,202409022000513485581,1725285600,RMIT UNIVERSITY MELBOURNE AUS Card xx7189 Valu...,,RMIT UNIVERSITY MELBOURNE AUS Card xx7189 Valu...,-175.32,49.42,H237859899122,other
17,202409020449164298491,1725199200,STRIKE AUSTRALIA PTY GLEN WAVERLE AU,,STRIKE AUSTRALIA PTY GLEN WAVERLE AU,-8.25,224.74,H131672996728,STRIKE
18,202409010448472476271,1725112800,COLES 0536 CLAYTON AU,,COLES 0536 CLAYTON AU,-2.50,232.99,H131669184810,COLES
19,202409010252205848911,1725112800,COLES 0581 CLAYTON AU,,COLES 0581 CLAYTON AU,-6.70,235.49,H131668482087,COLES
20,202409010225348445741,1725112800,COSTCO WHOLESALE AUSTR MOORABBIN AIRAU,,COSTCO WHOLESALE AUSTR MOORABBIN AIRAU,-67.25,242.19,H131668306871,COSTCO
21,202409010222041667221,1725112800,Transfer from xx0274 CommBank app,,Transfer from xx0274 CommBank app,100.00,309.44,N290145883768,D
22,202408312357256205161,1725112800,Transfer from xx0274 CommBank app,,Transfer from xx0274 CommBank app,200.00,209.44,N290145192845,D
23,202408312019493034501,1725112800,Debit Excess Interest,,Debit Excess Interest,-0.03,9.44,ZA99638816263,other
24,202408302016191490521,1725026400,AMZNPRIMEAU MEMBERSHIP SYDNEY SOUTH NS AUS Car...,,AMZNPRIMEAU MEMBERSHIP SYDNEY SOUTH NS AUS Car...,-9.99,9.47,H237849592860,other
25,202408300815151261861,1724940000,Overdraw Fee For exceeding available funds on ...,,Overdraw Fee For exceeding available funds on ...,-15.00,19.46,ZA98229914106,COMM
26,202408300121198658041,1724940000,Transfer from xx0274 CommBank app,,Transfer from xx0274 CommBank app,50.00,34.46,N283046099327,D
27,202408291120041433391,1724853600,COLES 0581 CLAYTON AU,,COLES 0581 CLAYTON AU,-22.11,-15.54,H131656272244,COLES
28,202408291059018818841,1724853600,MYKI SPRINGVLE RS SPG SPRINGVALE VICAU,,MYKI SPRINGVLE RS SPG SPRINGVALE VICAU,-30.00,6.57,H131656223474,MYKI
29,202408290436583051101,1724853600,COLES 0536 CLAYTON AU,,COLES 0536 CLAYTON AU,-7.50,36.57,H131654235795,COLES
30,202408280827252244951,1724767200,COLES 0536 CLAYTON AU,,COLES 0536 CLAYTON AU,-12.50,44.07,H131650913202,COLES
31,202408280244112563921,1724767200,The Clayton Hotel Clayton AU,,The Clayton Hotel Clayton AU,-32.70,56.57,H131648980434,other
32,202408280243266286741,1724767200,Transfer from xx0274 CommBank app,,Transfer from xx0274 CommBank app,50.00,89.27,N282843348482,D
33,202408271910592212231,1724767200,MORE TELECOM STH MELBOURNE AU AUS Card xx7189 ...,,MORE TELECOM STH MELBOURNE AU AUS Card xx7189 ...,-32.40,39.27,H237823081329,other
34,202408271910592040341,1724767200,UBER *ONE Sydney AU AUS Card xx7189 Value Date...,,UBER *ONE Sydney AU AUS Card xx7189 Value Date...,-9.99,71.67,H237823081328,UBER
35,202408271112567065001,1724680800,COLES 0581 CLAYTON AU,,COLES 0581 CLAYTON AU,-18.80,81.66,H131647044056,COLES
36,202408262257496026871,1724680800,Transfer To Derick CommBank App Rent,,Transfer To Derick CommBank App Rent,-491.00,100.46,N282746796168,RENT
37,202408262257220208681,1724680800,Transfer from xx0274 CommBank app,,Transfer from xx0274 CommBank app,491.00,591.46,N282746282901,D
38,202408251039235451231,1724508000,UBER* TRIP,,UBER* TRIP,-9.45,100.46,H131639072022,UBER
39,202408250511484781021,1724508000,SQ *KONG THE BARBER Clayton AU,,SQ *KONG THE BARBER Clayton AU,-40.00,109.91,H131637871061,BARBER

In [59]:
columns = ['transaction_id', 'timestamp', 'payee', 'description', 'raw_description', 'amount', 'balance', 'receipt_number','category']

transdf = pd.read_csv("../data/gold/data2.csv", index_col = None,header=None,names=columns)

In [60]:
conn.execute("DROP TABLE cust_trans")

In [39]:
conn.execute('''
CREATE TABLE cust_trans (
    transaction_id   TEXT PRIMARY KEY NOT NULL,
    timestamp      NUMERIC,
    payee     TEXT,
    description TEXT,
    raw_description  TEXT,
    amount  NUMERIC,
    balance NUMERIC,
    receipt_number TEXT,
    category TEXT
);
''')
transdf.to_sql('cust_trans', conn, if_exists='append', index = False)
pd.read_sql_query("select * from cust_trans", conn)

,transaction_id,timestamp,payee,description,raw_description,amount,balance,receipt_number
0,202409170224519501791,1726495200,CLAYTON CELLARS CLAYTON VICAU,None,CLAYTON CELLARS CLAYTON VICAU,-20.00,24.44,H131738349869
1,202409170224449401701,1726495200,Transfer from xx0274 CommBank app,None,Transfer from xx0274 CommBank app,11.00,44.44,N291749789553
2,202409161949202732571,1726495200,COLES 0536COLES 0536 CLAYTON AU AUS Card xx718...,None,COLES 0536COLES 0536 CLAYTON AU AUS Card xx718...,-29.44,33.44,H237974104006
3,202409160556308912461,1726408800,STRIKE AUSTRALIA PTY GLEN WAVERLE AU,None,STRIKE AUSTRALIA PTY GLEN WAVERLE AU,-8.25,62.88,H131735580465
4,202409152217487524911,1726408800,Transfer To VIGNESWARRAN RAMESH PayID Phone fr...,None,Transfer To VIGNESWARRAN RAMESH PayID Phone fr...,-24.50,71.13,N291644106410
5,202409152216543118671,1726408800,Transfer from xx0274 CommBank app,None,Transfer from xx0274 CommBank app,20.00,95.63,N291643817855
6,202409150049407194781,1726322400,FRESH FRUIT MART CLAYTON AU,None,FRESH FRUIT MART CLAYTON AU,-9.48,75.63,H131729868842
7,202409150042135955611,1726322400,COLES 0536 CLAYTON AU,None,COLES 0536 CLAYTON AU,-23.34,85.11,H131729829996
8,202409150042036067511,1726322400,Transfer from xx0274 CommBank app,None,Transfer from xx0274 CommBank app,50.00,108.45,N291540182149
9,202409141132199792381,1726236000,Transfer from xx0274 CommBank app,None,Transfer from xx0274 CommBank app,50.00,58.45,N291448619712
10,202409140058203358961,1726236000,Refund Purchase UBER* TRIP,None,Refund Purchase UBER* TRIP,0.01,8.45,H131725099691
11,202409140039204045291,1726236000,UBER* TRIP,None,UBER* TRIP,-15.04,8.44,H131724972412
12,202409140038569617831,1726236000,Transfer from xx0274 CommBank app,None,Transfer from xx0274 CommBank app,10.00,23.48,N291446121839
13,202409140021140084261,1726236000,MYKI CLAYTON RS CLA CLAYTON VICAU,None,MYKI CLAYTON RS CLA CLAYTON VICAU,-50.00,13.48,H131724855472
14,202409140020360674911,1726236000,Transfer from xx0274 CommBank app,None,Transfer from xx0274 CommBank app,50.00,63.48,N291445648911
15,202409131302533373721,1726149600,Refund Purchase UBER* TRIP,None,Refund Purchase UBER* TRIP,0.97,13.48,H131723871562
16,202409131236434693291,1726149600,UBER* TRIP,None,UBER* TRIP,-16.31,12.51,H131723829561
17,202409131235599689031,1726149600,Transfer from xx0274 CommBank app,None,Transfer from xx0274 CommBank app,20.00,28.82,N291343925910
18,202409130925071806251,1726149600,TARGET 5099 GLEN WAVERLEYAU,None,TARGET 5099 GLEN WAVERLEYAU,-5.00,8.82,H131723250403
19,202409121013032793311,1726063200,SQ *DROPOUT CHAIWALA S Melbourne AU,None,SQ *DROPOUT CHAIWALA S Melbourne AU,-10.15,13.82,H131718399985
20,202409121012508911151,1726063200,Transfer from xx0274 CommBank app,None,Transfer from xx0274 CommBank app,15.00,23.97,N291248041173
21,202409120425385544971,1726063200,COLES 0581 CLAYTON AU,None,COLES 0581 CLAYTON AU,-7.33,8.97,H131716558155
22,202409120411373295801,1726063200,HENGAO PTY LTD CLAYTON VIC AU,None,HENGAO PTY LTD CLAYTON VIC AU,-16.10,16.30,H131716473662
23,202409120411166168661,1726063200,Transfer from xx0274 CommBank app,None,Transfer from xx0274 CommBank app,20.00,32.40,N291245562927
24,202409110307513689801,1725976800,COLES 0602 MELBOURNE AU,None,COLES 0602 MELBOURNE AU,-2.40,12.40,H131711589710
25,202409080339119390841,1725717600,J.M.J CONTINENTAL PTY LTDSPRINGVALE AU,None,J.M.J CONTINENTAL PTY LTDSPRINGVALE AU,-41.45,14.80,H131699784711
26,202409080217199228421,1725717600,COSTCO WHOLESALE AUSTR MOORABBIN AIRAU,None,COSTCO WHOLESALE AUSTR MOORABBIN AIRAU,-63.07,56.25,H131699253530
27,202409080215244590381,1725717600,Transfer To D NERIAMPARAMBIL PayID Phone from ...,None,Transfer To D NERIAMPARAMBIL PayID Phone from ...,-10.00,119.32,N290843618173
28,202409080214315666731,1725717600,Transfer from xx0274 CommBank app,None,Transfer from xx0274 CommBank app,100.00,129.32,N290843614207
29,202409071459074919401,1725717600,Refund Purchase UBER* TRIP,None,Refund Purchase UBER* TRIP,13.20,29.32,H131697928996
30,202409071458455322721,1725717600,UBER* TRIP,None,UBER* TRIP,-13.91,16.12,H131697931106
31,202409071458322697881,1725717600,Transfer from xx0274 CommBank app,None,Transfer from xx0274 CommBank app,20.00,30.03,N290842101162
32,202409071455236952541,1725717600,UBER* TRIP,None,UBER* TRIP,-13.20,10.03,H131697924651
33,202409071454557039311,1725717600,Transfer from xx0274 CommBank app Bill,None,Transfer from xx0274 CommBank app Bill,20.00,23.23,N290842082469
34,202409062347179589581,1725631200,CLAYTON AQUATIC & HEA CLAYTON VICAU,None,CLAYTON AQUATIC & HEA CLAYTON VICAU,-32.30,3.23,H131693512290
35,202409062037085160851,1725631200,Lebara Recharge North Sydney AU AUS Card xx718...,None,Lebara Recharge North Sydney AU AUS Card xx718...,-24.90,35.53,H237907267178
36,202409060039409900491,1725544800,COLES 0536 CLAYTON AU,None,COLES 0536 CLAYTON AU,-21.00,60.43,H131688743604
37,202409060039241882911,1725544800,Transfer from xx0274 CommBank app,None,Transfer from xx0274 CommBank app,50.00,81.43,N290643898834
38,202409051244176647851,1725458400,Transfer to xx4211 CommBank app,None,Transfer to xx4211 CommBank app,-120.00,31.43,N290541692051
39,202409051244015911661,1725458400,Transfer from xx0274 CommBank app Invest,None,Transfer from xx0274 CommBank app Invest,120.00,151.43,N290541681266

In [42]:
sql = '''
INSERT INTO transactions(transaction_id, timestamp, payee, description, raw_description, amount, balance, receipt_number)
  SELECT transaction_id, timestamp, payee, description, raw_description, amount, balance, receipt_number
  FROM cust_trans 
  WHERE true 
  ON CONFLICT(transaction_id) 
  DO UPDATE SET 
    timestamp=excluded.timestamp;
    
'''
print(sql)

INSERT INTO transactions(transaction_id, timestamp, payee, description, raw_description, amount, balance, receipt_number)
  SELECT transaction_id, timestamp, payee, description, raw_description, amount, balance, receipt_number
  FROM cust_trans
  WHERE true
  ON CONFLICT(transaction_id)
  DO UPDATE SET
    timestamp=excluded.timestamp;

In [49]:
conn.execute(sql)

In [51]:
conn.close()

In [50]:

pd.read_sql_query("select count(*) FROM transactions", conn)

   count(*)
0        74

In [12]:
import re

patterns = {
    'Bank': r'.*Transfer.*',
    'groceries': r'.*COLES.*',
    'Rent': r'.*Rent.*',
    'Transportation': [r'.*MYKI.*', r'.*UBER.*'],
    
}

# Apply the regex patterns to the raw_description column
for category, pattern in patterns.items():
    if isinstance(pattern, list):
        df['type'] = df['raw_description'].apply(lambda x: 
next((re.search(p, x).group() for p in pattern if re.search(p, x)), 
'other'), )
    else:
        df['type'] = df['raw_description'].apply(lambda x: 
re.search(pattern, x).group(0) if re.search(pattern, x) else 'other')
df.head()

,timestamp,payee,description,raw_description,amount,balance,trancode,receipt_number,type
0,1725631200,CLAYTON AQUATIC & HEA CLAYTON VICAU,NaN,CLAYTON AQUATIC & HEA CLAYTON VICAU,-32.3,3.23,202409062347179589581,H131693512290,other
1,1725631200,Lebara Recharge North Sydney AU AUS Card xx718...,NaN,Lebara Recharge North Sydney AU AUS Card xx718...,-24.9,35.53,202409062037085160851,H237907267178,other
2,1725544800,COLES 0536 CLAYTON AU,NaN,COLES 0536 CLAYTON AU,-21.0,60.43,202409060039409900491,H131688743604,other
3,1725544800,Transfer from xx0274 CommBank app,NaN,Transfer from xx0274 CommBank app,50.0,81.43,202409060039241882911,N290643898834,other
4,1725458400,Transfer to xx4211 CommBank app,NaN,Transfer to xx4211 CommBank app,-120.0,31.43,202409051244176647851,N290541692051,other

In [4]:
df_categories.__len__

<bound method Series.__len__ of 0                   CLAYTON AQUATIC & HEA CLAYTON VICAU
1     Lebara Recharge North Sydney AU AUS Card xx718...
2                                 COLES 0536 CLAYTON AU
3                     Transfer from xx0274 CommBank app
4                       Transfer to xx4211 CommBank app
5              Transfer from xx0274 CommBank app Invest
6     Transfer To MS ALANA RAE CARTER PayID Phone fr...
7                     Transfer from xx0274 CommBank app
8                     MYKI CLAYTON RS CLA CLAYTON VICAU
9                     Transfer from xx0274 CommBank app
10                    Transfer from xx4211 CommBank app
11                      Transfer to xx4211 CommBank app
12                       ABCD DREAMZ PTY LTD CLAYTON AU
13                                COLES 0536 CLAYTON AU
14                                           UBER* TRIP
15    Return AMZNPRIMEAU MEMBERSHIP SYDNEY SOUTH NS ...
16    RMIT UNIVERSITY MELBOURNE AUS Card xx7189 Valu...
17                 STRIKE AUSTRALIA PTY GLEN WAVERLE AU
18                                COLES 0536 CLAYTON AU
19                                COLES 0581 CLAYTON AU
20               COSTCO WHOLESALE AUSTR MOORABBIN AIRAU
21                    Transfer from xx0274 CommBank app
22                    Transfer from xx0274 CommBank app
23                                Debit Excess Interest
24    AMZNPRIMEAU MEMBERSHIP SYDNEY SOUTH NS AUS Car...
25    Overdraw Fee For exceeding available funds on ...
26                    Transfer from xx0274 CommBank app
27                                COLES 0581 CLAYTON AU
28               MYKI SPRINGVLE RS SPG SPRINGVALE VICAU
29                                COLES 0536 CLAYTON AU
30                                COLES 0536 CLAYTON AU
31                         The Clayton Hotel Clayton AU
32                    Transfer from xx0274 CommBank app
33    MORE TELECOM STH MELBOURNE AU AUS Card xx7189 ...
34    UBER *ONE Sydney AU AUS Card xx7189 Value Date...
35                                COLES 0581 CLAYTON AU
36                 Transfer To Derick CommBank App Rent
37                    Transfer from xx0274 CommBank app
38                                           UBER* TRIP
39                       SQ *KONG THE BARBER Clayton AU
Name: payee, dtype: object>